{% extends "base.html" %}
{% load static %}
{% load utils %}

{% block content %}

<div class="container-fluid px-3 mt-4">
    <h1 class="section-title mb-4">{% if site_profile.blog_page_title %}{{ site_profile.blog_page_title }}{% else %}Articles de blog{% endif %}</h1>
    
    {% if site_profile.blog_page_intro %}
    <div class="section-intro mb-4">
        {{ site_profile.blog_page_intro|safe }}
    </div>
    {% endif %}

    <div class="row g-3 g-md-4">
        {% for article in articles %}
        <div class="col-md-4">
            {% if site_profile and site_profile.first_name and site_profile.last_name and site_profile.profession %}
                {% url 'profile_blogue_detail' nom=site_profile|profile_nom_slug profession=site_profile|profile_profession_slug slug=article.slug as detail_url %}
            {% else %}
                {% url 'blogue_detail' slug=article.slug as detail_url %}
            {% endif %}
            {% include 'includes/content_card.html' with item=article detail_url=detail_url button_text="Lire l'article" %}
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">
                Aucun article disponible pour le moment. Revenez bientôt !
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}